<!-- #region Testimonial Section -->
    <section id="testimonials" class="py-6 sm:py-12">
        <div class="mx-auto max-w-7xl px-4 md:px-4">
            <div class="text-center mb-16">
                <h2 class="text-3xl md:text-4xl font-bold font-heading mb-4 text-(--secondary-color)">
                    {{ 'testimonials.title' | translate }}
                </h2>
                <p class="text-xl text-(--accent-color) max-w-2xl mx-auto">
                    {{ 'testimonials.subtitle' | translate }}
                </p>
            </div>
            <div class="grid grid-cols-1 md:grid-col-2 lg:grid-cols-3 gap-8 text-center">
                <div *ngFor="let t of ( 'testimonials.entries' | translate )" class=" text-center animate-pokemon-dex flex flex-col justify-center items-center p-5">
                    <div class="text-center p-6 sm:p-10 md:p-4 md:mt-20 lg:mt-8 text-balance  flex flex-col justify-center">
                        <h4 class="text-xl text-(--secondary-color) mb-1">
                            {{ t.name }}
                        </h4>
                        <p class="text-(--accent-color) mb-[6px]">
                            {{ t.role }}
                        </p>                    
                        <p class="text-gray-300  text-base">
                        {{ t.quote }}
                        </p>
                        <span>
                            <a href="#" class="mt-4 text-(--secondary-color)">Profil linkedIn</a>
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- #endregion -->
