<!-- #region Testimonial Section -->
    <section id="testimonials" class="py-6 sm:py-12">
        <div class="mx-auto max-w-7xl px-6 md:px-8">
            <div class="text-center mb-16">
                <h2 class="text-3xl md:text-4xl font-bold font-heading mb-4 text-(--secondary-color)">
                    {{ 'testimonials.title' | translate }}
                </h2>
                <p class="text-xl text-(--accent-color) max-w-2xl mx-auto">
                    {{ 'testimonials.subtitle' | translate }}
                </p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 text-center">
                <div *ngFor="let t of ( 'testimonials.entries' | translate )" class=" animate-wiggle sm:p-16 text-center">
                    <div class="text-center mb-6">
                        <h4 class="text-2xl text-(--secondary-color) ">
                            {{ t.name }}
                        </h4>
                        <p class="text-(--accent-color)">
                            {{ t.role }}
                        </p>
                    </div>
                    <p class="text-gray-300 italic text-sm">
                        {{ t.quote }}
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- #endregion -->
