<app-header></app-header>
 <app-nav></app-nav>
<main>
  <app-about-me></app-about-me>
  <app-skills></app-skills>
  <app-projects></app-projects>
  <app-testimonials></app-testimonials>
  <app-contact></app-contact>  
</main>
<!-- Scroll to Top Button - nur sichtbar nach 500px scrollen -->
  @if (showScrollButton()) {
  <div class="arrow-container">
        <div class="arrow-up">                      
        <a (click)="scrollToTop()" class="block p-3 transition-all hover:scale-110 cursor-pointer">
            <img src="./assets/images/icons/misc/arrow-up-default.svg" class="h-15 animate-bounce" alt="Nach oben scrollen">
        </a>
    </div>
  </div>
  } 
<app-footer></app-footer>