<!-- #region Main Content -->
<main class="sm:py-12" id="why-me">
  <section class="md:px-8 py-6 sm:py-12 ">
      <div class="mx-auto max-w-7xl">
          <h2 class="text-4xl font-bold text-center font-heading text-(--secondary-color) mb-8">
              {{ 'main.title' | translate }}
          </h2>
          <div class="flex flex-wrap sm:items-center text-center">
              <div class="mb-5">
                  <div class="flex justify-center">
                      <img src="./assets/images/icons/misc/location.svg" class="inline-block" alt=""> 
                  </div>
                  <div>
                      <span class="text-2xl"> <span class="text-(--secondary-color)"> I'm </span>{{ 'main.hello' | translate }}</span>
                  </div>
              </div>
              <div>
                  <p class="text-base text-balance sm:text-left">
                      {{ 'main.desc-why' | translate }}
                  </p>                        
              </div>
          </div>
      </div>
  </section>
  <app-skills></app-skills>
  <app-projects></app-projects>
  <app-testimonials></app-testimonials>
  <app-contact></app-contact>
</main>
<!-- #endregion -->