<!-- #region Skills Section -->
   <div id="skills" class="py-6">&nbsp;</div>
    <section class="py-6 sm:py-12 md:px-8">
        <div class="sm:mx-auto max-w-7xl px-4">
            <h3 class="text-4xl text-(--secondary-color) text-center font-heading pb-8"> {{ 'skills.title' | translate }}</h3>
            <div class="flex flex-wrap flex-col lg:flex-row">
                <div class="sm:mx-auto  flex flex-wrap  gap-5 justify-center items-center p-5">
                    <img src="./assets/images/icons/icon-skills/css.svg" class="h-20 hover:animate-pulse" alt="">
                    <img src="./assets/images/icons/icon-skills/html.svg" class="h-20 hover:animate-pulse" alt="">
                    <img src="./assets/images/icons/icon-skills/javasript.svg" class="h-20 hover:animate-pulse" alt="">
                    <img src="./assets/images/icons/icon-skills/typescript.svg" class="h-20 hover:animate-pulse" alt="">
                    <img src="./assets/images/icons/icon-skills/angular.svg" class="h-20 hover:animate-pulse" alt="">
                    <img src="./assets/images/icons/icon-skills/firebase.svg" class="h-20 hover:animate-pulse" alt="">
                    <img src="./assets/images/icons/icon-skills/restapi.svg" class="h-20 hover:animate-pulse" alt="">
                </div>
                <div class="mt-8 sm:pl-7 flex flex-wrap justify-center sm:flex-1 lg:w-1/2">
                    <div class="flex flex-col animate-pokemon-dex justify-center cursor-pointer p-2 w-[300px]">
                        <div class="flex justify-center">
                            <h5 class="text-lg text-(--secondary-color) text-center text-balance py-3 max-w-50">
                            {{ 'skills.workingOn' | translate }}
                            </h5>                   
                        </div>
                        <div class="flex justify-center items-center">
                            <img src="./assets/images/icons/icon-skills/tailwind-css-logo.svg" class="h-10 sm:h13 pb-4" alt=""> 
                        </div>  

                        <div class="flex justify-center">
                            <p class="text-balance text-center text-base py-3 px-2 max-w-[164px]">
                                {{ 'skills.workingDesc' | translate }}
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
<!-- #endregion -->
