<section class="my-16" id="impressum-en">
    <div class="max-w-7xl flex flex-col items-center justify-center p-4 mx-auto text-center">
        <h1 class="text-2xl font-semibold mb-4 text-(--secondary-color)">Legal Notice</h1>
        <p><strong>Information according to § 5 TMG:</strong></p>
        <p class="mt-2">
            Markus Fischer<br>
            Scheffelstr.1<br>
            65187 Wiesbaden<br>
            Germany
        </p>

        <p class="mt-4"><strong>Contact:</strong><br>
            Phone: +49 6119705560<br>
            Email: hello[at]markusfischer-developer.de
        </p>

        <p class="mt-4 text-sm text-gray-600">
            Responsible for content according to § 55 Abs. 2 RStV:<br>
            Markus Fischer, address as above.
        </p>
    </div>
</section>
