.imprint-containter{
    height:100svh;
    display: flex;
    flex-direction: column;
}
.imprint-content{
    min-height: calc(100svh - 228px);
}
 .footer-container{
    display:flex;
    position: absolute;
    bottom:0;
    left:0;
    width:100svw;
}