.privacy-containter{
    min-height:100svh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.privacy-content{
    min-height: calc(100svh - 228px);
}
 .footer-container{
    display:flex;
    position: absolute;
    bottom:0;
    left:0;
}