@import "tailwindcss";
/* josefin-sans-100 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 100;
  src: url('./assets/fonts/josefin-sans-v32-latin_latin-ext-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-300 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/josefin-sans-v32-latin_latin-ext-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/josefin-sans-v32-latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-500 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/josefin-sans-v32-latin_latin-ext-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-600 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/josefin-sans-v32-latin_latin-ext-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-700 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/josefin-sans-v32-latin_latin-ext-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anta';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/anta-v1-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@theme{
  --font-display: 'Josefin Sans', 'sans';
  --text-*:initial;  
  --text-xs: clamp(0.5425rem, 0.5086rem + 0.1695vw, 0.64rem);
  --text-sm: clamp(0.7813rem, 0.7052rem + 0.3804vw, 1rem);
  --text-base:clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
  --text-lg: clamp(1.1rem, 1.1411rem + 0.2946vw, 1.4063rem);

--text-xl:clamp(1.2rem, 1.1411rem + 0.2946vw, 1.4063rem);
--text-2xl:clamp(1.44rem, 1.3492rem + 0.454vw, 1.7578rem);
--text-3xl:clamp(1.728rem, 1.5939rem + 0.6704vw, 2.1973rem);
--text-4xl:clamp(2.0736rem, 1.8813rem + 0.9614vw, 2.7466rem);
--text-5xl:clamp(2.4883rem, 2.2183rem + 1.3499vw, 3.4332rem);
--text-6xl:clamp(2.986rem, 2.613rem + 1.8651vw, 4.2915rem);
--text-7xl:clamp(3.5832rem, 3.0743rem + 2.5446vw, 5.3644rem);

  --space-3xs: clamp(0.25rem, 0.2321rem + 0.0893vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4821rem + 0.0893vw, 0.5625rem);
  --space-xs: clamp(0.75rem, 0.7143rem + 0.1786vw, 0.875rem);
  --space-s: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
  --space-m: clamp(1.5rem, 1.4464rem + 0.2679vw, 1.6875rem);
  --space-l: clamp(2rem, 1.9286rem + 0.3571vw, 2.25rem);
  --space-xl: clamp(3rem, 2.8929rem + 0.5357vw, 3.375rem);
  --space-2xl: clamp(4rem, 3.8571rem + 0.7143vw, 4.5rem);
  --space-3xl: clamp(6rem, 5.7857rem + 1.0714vw, 6.75rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.1607rem + 0.4464vw, 0.5625rem);
  --space-2xs-xs: clamp(0.5rem, 0.3929rem + 0.5357vw, 0.875rem);
  --space-xs-s: clamp(0.75rem, 0.6429rem + 0.5357vw, 1.125rem);
  --space-s-m: clamp(1rem, 0.8036rem + 0.9821vw, 1.6875rem);
  --space-m-l: clamp(1.5rem, 1.2857rem + 1.0714vw, 2.25rem);
  --space-l-xl: clamp(2rem, 1.6071rem + 1.9643vw, 3.375rem);
  --space-xl-2xl: clamp(3rem, 2.5714rem + 2.1429vw, 4.5rem);
  --space-2xl-3xl: clamp(4rem, 3.2143rem + 3.9286vw, 6.75rem);

  /* Custom pairs */
  --space-s-l: clamp(1rem, 0.6429rem + 1.7857vw, 2.25rem);
  --primary-color: #262E34;
  --secondary-color: #89BCD9;
  --accent-color: #F8F5EC;
  --base-color: #FFFDFD;
  --light-gray:#7DABC5;
  --dark-gray: #2D383F;
  --font-primary: 'Josefin Sans';
  --font-heading: 'Anta';
  --grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
}
  input,
  button,
  select,
  textarea{
    font:inherit;
  }

  p{
    color: #F8F5EC;
  }
  .small-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  }
    .big-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }