     <!-- #region Footer Section-->
     <footer class=" bg-(--secondary-color) order-4 p-4">
        <div class="flex flex-wrap justify-evenly item-ceter mx-auto gap-6 max-w-7xl">
            <div class="flex items-center gap-3">
                <a href="#">
                    <img src="./assets/images/logo.svg" class="h-14" alt="Logo Markus Fischer" />
                    <span class="text-base font-light text-gray-700">markus fischer</span>
                </a>
            </div>
            <div class="text-(--primary-color) flex items-center">
                <ul class="flex flex-wrap gap-3 text-(--primary-color)">
                    <li>
                        <a href="{{ 'footer.link-imprint' | translate }}" class="hover:text-(--accent-color)">
                        {{ 'footer.imprint' | translate }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ 'footer.link-privacy' | translate }}" class="hover:text-(--accent-color)">
                        {{ 'footer.privacy' | translate }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="h-32 flex flex-wrap items-center justify-center gap-4">
                <a href="https://github.com/mideasdesign">
                    <img src="./assets/images/icons/icon-github/github-light-blue-hover.svg" class="h-7" alt="">
                </a>
                <a href="mailto:hello@markusfischer-developer.de">
                    <img src="./assets/images/icons/icon-mail/mail-light-blue-hover.svg" class="h-7" alt="">
                </a>
                <a href="https://www.linkedin.com/in/markus-fischer-25a5b68b/">
                    <img src="./assets/images/icons/icons-linkedin/linkedin-light-blue-hover.svg" class="h-7" alt="">
                </a>
            </div>
        </div>
     </footer>
     <!-- #endregion -->
