     <!-- #region Footer Section-->
     <footer class=" bg-(--secondary-color) order-4">
        <div class="flex flex-col md:flex-row flex-wrap justify-evenly item-center mx-auto sm:gap-6 max-w-7xl p-4">
            <div class="flex justify-center items-center gap-3">
                <a href="#">
                    <img src="./assets/images/logo.svg" class="h-14" alt="Logo Markus Fischer" />
                    <span class="text-base font-light text-gray-700">markus fischer</span>
                </a>
            </div>
            <div class="text-(--primary-color) flex justify-center mt-5 items-center">
                <ul class="flex flex-wrap gap-3 text-(--primary-color)">
                    <li>
                        <a routerLink="/imprint" class=" hover:animate-pulse">
                        {{ 'footer.imprint' | translate }}
                        </a>
                    </li>
                    <li>
                        <a routerLink="/privacy" class=" hover:animate-pulse">
                        {{ 'footer.privacy' | translate }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="md:h-32  mt-5 flex flex-wrap items-center justify-center gap-4">
                <a href="https://github.com/mideasdesign" target="_blank">
                    <img src="./assets/images/icons/icon-github/github-light-blue-hover.svg" class="h-7 hover:animate-pulse" alt="">
                </a>
                <a href="mailto:hello@markusfischer-developer.de" target="_blank">
                    <img src="./assets/images/icons/icon-mail/mail-light-blue-hover.svg" class="h-7 hover:animate-pulse" alt="">
                </a>
                <a href="https://www.linkedin.com/in/markus-fischer-mideasdesign/" target="_blank">
                    <img src="./assets/images/icons/icons-linkedin/linkedin-light-blue-hover.svg" class="h-7 hover:animate-pulse" alt="">
                </a>
            </div>
        </div>
     </footer>
     <!-- #endregion -->
