     <!-- #region Footer Section-->
     <footer class=" flex justify-center bg-(--secondary-color) order-4">
        <div><span>copyright</span></div>
        <div><img src="" alt=""></div>
        <div>
            <ul>
                <li><a href="Datenschutz"></a></li>
                <li><a href="Impressum"></a></li>
                <li><a href="Keine"></a></li>
            </ul>
            <ul>
                <li><a href=""></a></li>
            </ul>
        </div>
        <div>social media</div>
     </footer>
     <!-- #endregion -->
